In [14]:
import datetime
import numpy as np
import pandas as pd

df = pd.DataFrame({'Quarter':['2015Q1','2015Q2']})
df['date'] = pd.to_datetime(df.Quarter).dt.to_period('Q')

df['year'] = df['date'].dt.year
df['quarter'] = df['date'].dt.quarter

print (df)

  Quarter    date  year  quarter
0  2015Q1  2015Q1  2015        1
1  2015Q2  2015Q2  2015        2

In [15]:
df = pd.DataFrame({'Quarter':['2015Q1','2015Q2']})
df['date'] = pd.to_datetime(df.Quarter).dt.to_period('Q')

df['year'] = df['date'].dt.year
df['quarter'] = df['date'].dt.quarter

print (df)

  Quarter    date  year  quarter
0  2015Q1  2015Q1  2015        1
1  2015Q2  2015Q2  2015        2

In [24]:
df = pd.DataFrame({'Quarter':['Q3  1996', 'Q4    1996', 'Q1 1997'],'Name':["J","N","S"]})

df['date'] = (
    pd.to_datetime(
        df['Quarter'].str.split(' ').apply(lambda x: ''.join(x[::-1]))
))

print(df)

      Quarter Name       date
0    Q3  1996    J 1996-07-01
1  Q4    1996    N 1996-10-01
2     Q1 1997    S 1997-01-01

In [20]:
pd.to_datetime(
        df['Quarter'].str.split(' ').apply(lambda x: ''.join(x[::-1]))
)

0   1996-07-01
1   1996-10-01
2   1997-01-01
Name: Quarter, dtype: datetime64[ns]

In [23]:
df['Quarter'].str.split(' ').apply(lambda x: ''.join(x[::-1]))

0    1996Q3
1    1996Q4
2    1997Q1
Name: Quarter, dtype: object

In [28]:
d = dict({'price': [8, 9, 7, 11, 12, 16, 15, 17],
          'volume': [40, 50, 30, 80, 40, 80, 30, 40]})
df = pd.DataFrame(d)
df['week_starting'] = pd.date_range('01/01/2019',
                                    periods=8,
                                    freq='W')

In [32]:
df.resample('D', on='week_starting').mean()

               price  volume
week_starting
2019-01-06       8.0    40.0
2019-01-07       NaN     NaN
2019-01-08       NaN     NaN
2019-01-09       NaN     NaN
2019-01-10       NaN     NaN
2019-01-11       NaN     NaN
2019-01-12       NaN     NaN
2019-01-13       9.0    50.0
2019-01-14       NaN     NaN
2019-01-15       NaN     NaN
2019-01-16       NaN     NaN
2019-01-17       NaN     NaN
2019-01-18       NaN     NaN
2019-01-19       NaN     NaN
2019-01-20       7.0    30.0
2019-01-21       NaN     NaN
2019-01-22       NaN     NaN
2019-01-23       NaN     NaN
2019-01-24       NaN     NaN
2019-01-25       NaN     NaN
2019-01-26       NaN     NaN
2019-01-27      11.0    80.0
2019-01-28       NaN     NaN
2019-01-29       NaN     NaN
2019-01-30       NaN     NaN
2019-01-31       NaN     NaN
2019-02-01       NaN     NaN
2019-02-02       NaN     NaN
2019-02-03      12.0    40.0
2019-02-04       NaN     NaN
2019-02-05       NaN     NaN
2019-02-06       NaN     NaN
2019-02-07       NaN     NaN
2019-02-08       NaN     NaN
2019-02-09       NaN     NaN
2019-02-10      16.0    80.0
2019-02-11       NaN     NaN
2019-02-12       NaN     NaN
2019-02-13       NaN     NaN
2019-02-14       NaN     NaN
2019-02-15       NaN     NaN
2019-02-16       NaN     NaN
2019-02-17      15.0    30.0
2019-02-18       NaN     NaN
2019-02-19       NaN     NaN
2019-02-20       NaN     NaN
2019-02-21       NaN     NaN
2019-02-22       NaN     NaN
2019-02-23       NaN     NaN
2019-02-24      17.0    40.0